!!!
html
  head
    title= "SWAG"
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand
            a(href='/') SWAG
          .nav-collapse
            ul.nav
              li
                a(href='/') these 
              li
                a(href='/') do 
              li
                a(href='/') nothing 
    .wrap
      .container
        .row
          .span9
            != body
          .span3
            .sidebar-nav.well
              ul.nav.nav-list
                li.nav-header categories
                - each cat in allCategories
                  li
                    a(href=categoryUrl(cat)) #{cat}
                li.nav-header tags
                - each tag in allTags
                  li
                    a(href=tagUrl(tag)) #{tag}
        .row
          .span4
            h3 about
            p blahblah
          .span4
            h3 osmeshit
            p blahblah
          .span4
            h3 osmeshit
            p sldkjflskdjfskdfslkdjflskdjflsdfsldfjskldjfsldjflksjdfklsjdflksjadfkljsdklfjskldfj  sadlkfj lsadjf lskadjf sda flksadjf lksjdlkf jsdlkj lsadj lksdjfk ljsadklfj sadjf sjadlkfjsdsakl
