doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title Jordan Santell
    link http://jsantell.com
    description Jordan Santell's blog
    atom:link(href='http://jsantell.com/rss', rel='self', type='application/rss+xml')
    each post in posts
      - var fullUrl = 'http://jsantell.com' + post.url
      item
        title= post.title
        link= fullUrl
        description
          | <![CDATA[
          | !{post.preview}
          | ]]>
        pubDate= post.date.toUTCString()
        guid= fullUrl
